<div class="container row">
<ng-container *ngFor="let noticia of noticias">
    <div class="card" style="width: 18rem;">
        <img src="{{noticia.imagen}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{noticia.titulo}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{noticia.fecha}}</h6>
            <p class="card-text">{{noticia.textocorto}}</p>
            <a [routerLink]="['/listado', noticia.id]" class="btn btn-primary">Leer</a>
        </div>
    </div>
</ng-container>
</div>
<router-outlet></router-outlet>